{
  "env": {
    "app": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "api": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "node": "8"
            }
          }
        ],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ],
      "plugins": [
        [
          "babel-plugin-root-import", {
            "paths": [
              {
                "rootPathPrefix": "~",
                "rootPathSuffix": "src/api"
              }
            ]
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ],
      "plugins": [
        "dynamic-import-node",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
